<app-user-header></app-user-header>
<div class="main-w3layouts wrapper">
    <h1>My Profile</h1>
    <div class="main-agileinfo">
        <div class="agileits-top">
            <input class="text" type="text" name="name" placeholder="{{user.name}}" id="name" disabled=""
             name="name" required="">
             <input class="text" type="text" name="email" placeholder="{{user.email}}" id="email" disabled=""
             name="name" required="">
             <input class="text" type="text" name="ph" placeholder="{{user.ph}}" id="ph" disabled=""
             name="name" required="">
             <input class="text" type="text" name="dob" placeholder="{{user.dob}}" id="dob" disabled=""
             name="name" required="">
            <input class="text" type="text" name="publicAddress" placeholder="{{user.publicAddress}}"  id="publicAddress" disabled=""
             name="publicAddress" required="">
            
        </div>
    </div>
</div>
