<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" >Car Pooling</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="/user/profile">Profile</a></li>
        <li><a href="/user/new-ride">New Rides</a></li>
        <li><a href="/user/find-ride">Find a Ride</a></li>
        <li><a href="/user/my-rides">My Rides</a></li> 
        <li><a href="#" (click)="logout()">Logout</a></li>
      </ul>
    </div>
  </nav>