
<app-common-header></app-common-header>
	

	<div class="main-w3layouts wrapper">
		<h1> Signin</h1>
		<div class="main-agileinfo">
			<div class="agileits-top">
				<form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
					<div class="alert alert-danger text-center" role="alert" *ngIf="hasError">
						These credentials do not match our records.
					  </div>
					

					<!-- <input class="text" type="text" name="publicAddress" placeholder="Public Address"  id="publicAddress" ngModel
                #publicAddress="ngModel" name="publicAddress" required=""> -->
                <input class="text w3lpass" type="text" name="Public Address" placeholder="publicAddress"  id="publicAddress" ngModel
                #publicAddress="ngModel" name="publicAddress"required="">

                <input class="text" type="password" name="password" placeholder="Password"  id="password" ngModel
                #password="ngModel" name="password" required="">
					
					<input type="submit" value="SIGNUP">
				</form>
				<p>Don't have an Account? <a href="/register"> Register Now!</a></p>
			</div>
		</div>
		
	</div>
	<!-- //main -->
