<app-admin-header></app-admin-header>
<div class="main-w3layouts wrapper">
    <h1>Routes</h1>
    <div class="main-agileinfo">
        <div class="agileits-top">

            <div class="agileits-top">
                <div *ngFor="let item of roadMap; let i = index">
                    <div *ngIf="i>0">
                        <div class="row">

                            <div class="col-md-5 ">

                                <label class="label">Distance (Km) : </label>


                            </div>
                            <div class="col-md-5 ">
                                <input type="text" value="{{item.dist}}" (keyup)="changeValue(i,'dist',$event)" />
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-5 ">

                                <label class="label">Time (Min) : </label>


                            </div>
                            <div class="col-md-5 ">
                                <input type="text" value="{{item.time}}" (keyup)="changeValue(i,'time',$event)" />
                            </div>
                        </div>
                        
                    </div>
                    <div>
                        <div style="border: 2px solid #eee;padding: 10px;">
                            <div class="row">
                                <div class="col-md-3 ">
                                    <!-- <div class="ps-form__billing-info"> -->
                                    <!-- <div class="col-12"> -->
                                    <label class="label">Place:</label>


                                    <!-- </div> -->
                                    <!-- </div> -->
                                </div>
                                <div class="col-md-9 ">
                                    <input type="text" value="{{item.place}}" (keyup)="changeValue(i,'place',$event)" />
                                    <input type="submit" (click)="removeLocation(i)" value="Remove">
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <app-routes-operation></app-routes-operation> -->
            <input type="submit" (click)="addLocation()" value="Add">
            <input type="submit" (click)="onSubmit()" value="Save">
        </div>
    </div>
</div>