<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" >Car Pooling</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="/admin/profile">Profile</a></li>
        <li><a href="/admin/user-list">User List</a></li>
        <li><a href="/admin/routes">Routes</a></li>
        <li><a href="/admin/ride-list">Ride List</a></li>
        <li><a href="#" (click)="logout()">Logout</a></li>
      </ul>
    </div>
  </nav>