<app-admin-header></app-admin-header>
<style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    #t01 tr:nth-child(even) {
  background-color: #eee;
}
#t01 tr:nth-child(odd) {
 background-color: #fff;
}
#t01 th {
  background-color: rgb(101, 128, 88);
  color: white;
}
    </style>

    <h1>Users</h1>
    
    <table id="t01">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>DOB</th>

      </tr>
      <tr *ngFor="let data of user">
        <td>{{data.name}}</td>
        <td>{{data.email}}</td>
        <td>{{data.ph}}</td>
        <td>{{data.dob}}</td>
      </tr>    
    </table>