<app-user-header></app-user-header>
<!-- main -->
<div class="main-w3layouts wrapper">
    <h1>Create New Ride</h1>
    <div class="main-agileinfo">
        <div class="agileits-top">
            <form>
                <div class="row">
                    <div class="select">
                        <label class="label">From</label>
                        <select id="from" [(ngModel)]="srcIndex" name="from" required="">
                            <option value="" disabled selected>From</option>
                            <option *ngFor="let item of roadMap" value="{{item.index}}">{{item.place}}</option>
                        </select>
                    </div>
                    <br>
                    <div class="select">
                        <label class="label">To</label>

                        <select id="to" [(ngModel)]="destIndex" name="to" required="">
                            <option value="" disabled selected>To</option>
                            <option *ngFor="let item of roadMap" value="{{item.index}}">{{item.place}}</option>
                        </select>
                    </div>
                </div>

                <input class="text w3lpass" type="text" name="VehicleDet" placeholder="Vehicle Name" id="VehicleDet"
                    required [(ngModel)]="vehicleDet">

                <input class="text" type="text" name="RegNo" placeholder="Vehicle Number" id="RegNo" required
                    [(ngModel)]="regNo">

                <input class="text w3lpass" type="text" name="seats" placeholder="Total space" id="seats" required
                    [(ngModel)]="availableSeats">

                <input type="submit" value="Create" (click)="submit()" />
            </form>
        </div>
    </div>
</div>