<app-user-header></app-user-header>
<style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    #t01 tr:nth-child(even) {
  background-color: #eee;
}
#t01 tr:nth-child(odd) {
 background-color: #fff;
}
#t01 th {
  background-color: rgb(101, 128, 88);
  color: white;
}
    </style>

    <h1>My Rides</h1>
    
    <table id="t01">
      <tr>
        <th>Index</th>
        <th>Date</th>
        <th>From</th>
        <th>To</th>
        <th>Driver</th>
        <th>Vehicle</th>
        <th>Reg No</th>
        <th>Seats</th>
        <th>Status</th>

      </tr>
      <tr *ngFor="let data of rides; let i = index">
        <td>{{i+1}}</td>
        <td>{{data.timestamp}}</td>
        <td>{{data.srcIndex}}</td>
        <td>{{data.destIndex}}</td>
        <td>{{data.driver}}</td>
        <td>{{data.vehicleDet}}</td>
        <td>{{data.regNo}}</td>
        <td>{{data.occupiedSeat}}/{{data.availableSeat}}</td>
        <td *ngIf="data.status == false && data.isDriver == false">Not Completed</td>
        <td *ngIf="data.status == true">Completed</td>
        <td *ngIf="data.status == false && data.isDriver == true"><input type="submit" (click)="changeStatus(data.rideID)" value="Ride Completed"></td>
      </tr>    
    </table>