<app-admin-header></app-admin-header>
<div class="main-w3layouts wrapper">
    <h1>My Profile</h1>
    <div class="main-agileinfo">
        <div class="agileits-top">
            <label class="label">Name:</label><input class="text" type="text" name="name" placeholder="{{user.name}}" id="name" disabled=""
             name="name" required="">
             <br>
            <label class="label">Public Address:</label><input class="text" type="text" name="publicAddress" placeholder="{{user.publicAddress}}"  id="publicAddress" disabled=""
             name="publicAddress" required="">
            
        </div>
    </div>
</div>
