<app-common-header></app-common-header>

<div class="main-w3layouts wrapper">
    <h1>SignUp Form</h1>
    <div class="main-agileinfo">
        <div class="agileits-top">
            <form action="" #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
                <input class="text" type="text" name="name" placeholder="Name" id="name" ngModel
                #name="ngModel" name="name" required="">
                <input class="text email" type="email" name="email" placeholder="Email"  id="email" ngModel
                #email="ngModel" name="email" required="">
               
                <input class="text w3lpass" type="text" name="ph" placeholder="Phone"  id="ph" ngModel
                #ph="ngModel" name="ph"required="">

                <input class="text" type="text" name="publicAddress" placeholder="Public Address"  id="publicAddress" ngModel
                #publicAddress="ngModel" name="publicAddress" required="">
                <input class="text w3lpass" type="text" name="dob" placeholder="Date of Birth"  id="dob" ngModel
                #dob="ngModel" name="dob"required="">

                <input class="text" type="password" name="password" placeholder="Password"  id="password" ngModel
                #password="ngModel" name="password" required="">
                
                <input type="submit" value="SIGNUP">
            </form>
            <p>Already have an Account? <a href="/"> Login Now!</a></p>
        </div>
    </div>
</div>
<!-- //main -->