<app-user-header></app-user-header>
<style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td,
  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  #t01 tr:nth-child(even) {
    background-color: #eee;
  }

  #t01 tr:nth-child(odd) {
    background-color: #fff;
  }

  #t01 th {
    background-color: rgb(101, 128, 88);
    color: white;
  }
</style>

<h1>Find a Ride</h1>
<div class="row">
  <div class="col-md-4 ">
    <div class="select">
      <label class="label">From</label>
      <select id="from" [(ngModel)]="srcIndex" name="from" required="">
        <option value="" disabled selected>From</option>
        <option *ngFor="let item of roadMap" value="{{item.index}}">{{item.place}}</option>
      </select>
    </div>
  </div>

  <div class="col-md-4 ">
    <div class="select">
      <label class="label">To</label>
      <select id="to" [(ngModel)]="destIndex" name="to" required="">
        <option value="" disabled selected>To</option>
        <option *ngFor="let item of roadMap" value="{{item.index}}">{{item.place}}</option>
      </select>
    </div>
  </div>
  <div class="col-md-4 ">
    <input type="submit" (click)="onSearch()" value="Search">
  </div>
</div>
<br />
<br />
<label style="color: black;">Todal Distance : {{dist}}Km</label><br />
<label style="color: black;">Total Duration : {{time}}Mins</label><br />
<label style="color: black;">Cost : {{cost}}Ether</label><br />
<br /><br />

<table id="t01">
  <tr>
    <th>Index</th>
    <th>Date</th>
    <th>From</th>
    <th>To</th>
    <th>Driver</th>
    <th>Vehicle</th>
    <th>Reg No</th>
    <th>Seats</th>
    <th>Action</th>

  </tr>
  <tr *ngFor="let data of rides; let i = index">
    <td>{{i+1}}</td>
    <td>{{data.timestamp}}</td>
    <td>{{data.srcIndex}}</td>
    <td>{{data.destIndex}}</td>
    <td>{{data.driver}}</td>
    <td>{{data.vehicleDet}}</td>
    <td>{{data.regNo}}</td>
    <td>{{data.occupiedSeat}}/{{data.availableSeat}}</td>
    <td><input type="submit" (click)="bookNow(data.rideID)" value="Book Now"></td>
  </tr>
</table>